---
---

@import "{{ site.theme }}";

details > summary::before {
    content: "►";
    display: inline-block;
    position: relative;
    left: -5px;
    transition: transform 0.2s;
}

details[open] > summary::before {
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.2s;
}

details > summary:hover {
    cursor: pointer;
}

*:not(details) > ul > li > p + ul {
    position: relative;
    top: -44px;
    margin-bottom: -43px;
}

*:not(details) > ul > li > p {
    position: relative;
    left: -4px;
}
