---
---

@import "{{ site.theme }}";

details > summary::before {
    content: "►";
    display: inline-block;
    position: relative;
    left: -5px;
    transition: transform 0.2s;
}

details[open] > summary::before {
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.2s;
}

details > summary:hover {
    cursor: pointer;
}

#back-to-top {
    color: black;
    display: inline-block;
    right: 10px;
    background: white;
    background-blend-mode: darken;
}
