<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-1" class="btn">Téma č.1</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-2" class="btn">Téma č.2</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-3" class="btn">Téma č.3</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-4" class="btn">Téma č.4</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-5" class="btn">Téma č.5</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-6" class="btn">Téma č.6</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-7" class="btn">Téma č.7</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-8" class="btn">Téma č.8</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-9" class="btn">Téma č.9</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-10" class="btn">Téma č.10</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-11" class="btn">Téma č.11</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-12" class="btn">Téma č.12</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-13" class="btn">Téma č.13</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-15" class="btn">Téma č.15</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-16" class="btn">Téma č.16</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-17" class="btn">Téma č.17</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-18" class="btn">Téma č.18</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-19" class="btn">Téma č.19</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-20" class="btn">Téma č.20</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-21" class="btn">Téma č.21</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-22" class="btn">Téma č.22</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-23" class="btn">Téma č.23</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-24" class="btn">Téma č.24</a>
      <a href="https://juraj-hrivnak.github.io/HTA-DEH-NKO/#tma-25" class="btn">Téma č.25</a>
    </header>
    
    <main id="content" class="main-content" role="main">
      {{ content }}
      
    </main>
  </body>
</html>
